*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #f8f8f8;
}
#main{
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 0.5px;
    background-color: #f8f8f8;
}
#nav{
    margin-top: 20px;
    height: 10vh;
    width: 100%;
    /*background-color: red;*/
    border-top: 2px solid black;
    border-bottom: 2px solid black ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h2{
    height: 100%;
    width: 25%;
    font-size: 18px;
    font-weight: 600;
   /* background-color: aqua;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
}
#nav h1{
    height: 100%;
    width: 20%;
    font-weight: 600;
    /*background-color: aqua;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5.5vh;
   position: relative;
}
#nav h1::after{
    content: "©";
    position: absolute;
    right: 14%;
    top: 20%;
    font-size: 3.5vh;
    font-weight: 200;
}
#nav h1::before{
    content: "model management";
    text-transform: uppercase;
    position: absolute;
    font-size: 1.5vh;
    font-weight: 400;
    bottom: 13%;
    left: 30%;
}
#nav h2:nth-last-child(2){
    width: 38%;
}
#nav h2:nth-last-child(1){
    width: 12%;
}
#centre{
    height: 90%;
    width: 100%;
    /*background-color: blue;*/
    position: relative;
    padding: 5vw;
}
#content{
    height: 100%;
    width: 100%;
    background-color: bisque;
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
#overlay{
    height: 50%;
    width: 100%;
    /*background-color: pink;*/
    position: absolute;
    top: 300px;
    bottom: 0;
    padding: 4vh;
}
#over1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}
#over1 h1{
    font-size: 45px;
    font-weight: 600;
}
#over1 h2{
    height: 60px;
    width: 60px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-style: inset;
}
#over2{
    margin-bottom: 2vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid white;
}
#over2 h4{
    font-size: 20px;
    font-weight: 500;
}
#over2 i{
    font-size: 50px;
}
#scroll{
    height: 40vh;
    width: 100%;
    /*background-color: red;*/
    white-space: nowrap;
     overflow-x: hidden;
     overflow-y: hidden;
}
#container{
    height: 100%;
    width: 100%;
    /*background-color: bisque;*/
    display: inline-block;
    padding: 3.5vh;
     animation-name: anime;
     animation-duration: 10s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
}
#scroll img{
    margin-left: 2vh;
    height: 93%;
    border-radius: 50%;
    width: 16%;
    object-fit: cover;
    object-position: 30% 20%;
}
@keyframes anime {
     from{
        transform: translateX(0);
     }
     to{
        transform: translate(-100%);
     }
}
#alphabets{
    height: 11vh;
    width: 100%;
    margin-top: 2vh;
    /*background-color: bisque;*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#alphabets h5{
    font-size: 4vh;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 4px;
    border-bottom: 2px solid black;
    margin-right: 4vh;
}
#alphabets h6{
    font-size: 2vh;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1.5px;
    padding: 0.5vw 0.7vw;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #00000000;
}
#alphabets h6:hover{
    border: 1px solid #000;
}
#page2{
    height: 100%;
    width: 100%;
    padding: 2vw 5vw;
    display: flex;
    align-items: center;

}
#left{
    height: 100%;
    width: 42%;
    background-image: url(https://i.pinimg.com/564x/ed/a9/c9/eda9c972d948f199d4d36d09f9c4a613.jpg);
    background-position: top;
    margin-left: 12vh;
}
#right img{
    width: 28vw;
    margin-left: 12vh;
}
#text-right{
    height: 100%;
    width: 28vw;
    /*background-color: blanchedalmond;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 12vh;
    margin-top: 3vh;
}
#text-right h4{
    font-size: 25px;
    font-weight: 800;
}
#text-right h5{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 14px;
}
#text{
    height: 5%;
    width: fit-content;
   /* background-color: beige;*/
    margin-left: 22vh;
}
#text h2{
    font-size: 40px;
    font-weight: 800;
    font-family:  sans-serif;
    text-transform: uppercase;
}
#page3{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
#page3-part1 img{
     width: 22vw;
     margin-top: 22vh;
     margin-left: 30vh;
}
#content1{
    height: 39vh;
    width: 100%;
    /*background-color: bisque;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 18vh;
    margin-top: 8vh;
}
#content1 h4{
    font-size: 24px;
    font-weight: 600;

}
#page3-part2 img{
    width: 35vw;
    margin-right: 20vh;
}
#image{
    margin-left: 25vh;
}
#image img{
    height: 60vh;
    width: 85%;
}
#page4{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 5vh 4vh;
}
#page4>h1{
    font-size: 50px;
    font-weight: 100;
    font-family: fantasy;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10vh;
}
.elem{
    height: 16vh;
    width: 100%;
   /* background-color: rgb(151, 95, 11);*/
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2vh;
    position: relative;
}
.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}
.elem img{
    height: 14vh;
    width: 14vh;
    border-radius: 50%;
    position: absolute;
    object-position: top;
    object-fit: cover;
    opacity: 0;
    left: 12%;
    transition: all ease 0.7s;
}
.elem:nth-last-child(1) img{
    left: 50%;
}
.elem:nth-last-child(3) img{
    left: 50%;
}
.elem:hover img{
    opacity: 1;
    left: 35%;
}
.elem h5{
    font-size: 3vh;
    font-weight: 300;
    text-transform: uppercase;
}
.elem-part1{
    width: 45%;
}
.elem-part1 h2{
    font-size: 6vh;
    font-weight: 400;
    text-transform: capitalize;
}
.elem-part1 h6{
    font-size: 2vh;
    font-weight: 500;
    text-transform: uppercase;
}
#content2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#left-content2{
    height: 100%;
    width: 38%;
    background-image: url(https://i.pinimg.com/564x/3c/93/d2/3c93d234a30612d951004891f1e5cfc6.jpg);
     margin-left: 15vh;
}
#right-content2{
    margin-right: 16vh;
    height: 100%;
    width: 40%;
}
#text-part h1{
       font-size: 50px;
       text-transform: uppercase;
       margin-bottom: 2.5vh;
}
#text-part h4{
    font-size: 30px;
    font-weight: 600;
}

#image-part{
    margin-top: 5vh;
     height: 50%;
     width: 100%;
     background-color: aqua;
     display: flex;
     align-items: center;
     justify-content: center;
}
#image-part img{
    height: 100%;
}
#video-part{
    height: 70%;
    width: 80%;
    /*background-color: aquamarine;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20vh;
    margin-top: 5vh;
}
#video-part video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 40% 40%;
}
#page5{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page5-left{
    margin-left: 20vh;
    height: 94%;
    width: 30%;
    background-image: url(https://i.pinimg.com/564x/f9/a1/f7/f9a1f70bcb5b37405c4e61c63036c40b.jpg);
}
#page5-right{
    height: 94%;
    width: 70%;
}
#right-image{
    height:70%;
    width: 55%;
    background-color: blue;
    margin-left: 20vh;
}
#right-image img{
  height: 100%;
  width:100%;
  object-fit: cover;
}
#right-text{
    height: 30%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left:14vh ;
}
#right-text h2{
    font-size: 3.5vh;
    font-weight: 800;
}
#right-text p{
    font-size: 2.4vh;
    font-weight: 500;
}
#marque{
    width: 100%;
    /*background-color: aqua;*/
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    margin-top: 2vh;
}
#marque h1{
    display: inline-block;
    font-size: 4vw;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin-right: 16px;
     animation-name: move;
     animation-duration: 2s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
}
@keyframes move {
    from{
       transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}
#page6{
    height: 100%;
    width: 100%;
}
#top{
    height: 70%;
    width: 90%;
    margin-left: 10vh;
    /*background-color: cadetblue;*/
}
#page6-part1{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: relative;
}
#page6-part1 h1{
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 8vh;
}
#page6-part1 p{
    font-size: 23px;
    font-weight: 600;
}
#B1{
    height: 4.5vh;
    width: 4.5vh;
    background-color:#f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1.5px solid black;
    position: absolute;
    left: 20.5%;
    bottom: 55%;
}
#B2{
    height: 4.5vh;
    width: 4.5vh;
    background-color:#f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1.5px solid black;
    position: absolute;
    left: 59%;
    bottom: 55%;
}
#page6-part2{
    height: 60%;
    width: 100%;
    /*background-color: burlywood;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1vw;
}
#page6-part2 img{
    height:100%;
    width: 25%;
    margin-bottom: 18vh;
    margin-left: 28vh;
}
#bottom{
    height: 30%;
    width: 100%;
    margin-top: 15vh;
   /* background-color: pink;*/
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bottom1{
    height: 100%;
    width: 60%;
   /* background-color: pink;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30vh;
    margin-bottom: 20vh;
}
 #bottom1 h2{
    height: 100%;
    width: 25%;
    font-size: 20px;
    font-weight: 600;
   /* background-color: aqua;*/
    display: flex;
    align-items: center;
    justify-content: center;
} 
#bottom1 h1{
    height: 100%;
    width: 30%;
    font-weight: 600;
    /*background-color: aqua;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vh;
    position: relative;
}
#bottom1 h1::after{
    content: "©";
    position: absolute;
    right: 1vh;
    top: 12vh;
    font-size: 3.5vh;
    font-weight: 200;
}
#bottom1 h1::before{
    content: "model management";
    text-transform: uppercase;
    position: absolute;
    font-size: 1.5vh;
    font-weight: 400;
    bottom: 11vh;
    left: 8vh;
}
#bottom2{
    height: 100%;
    width: 50%;
    /*background-color: darkkhaki;*/
    border-left: 2px solid black;
    padding: 3vh;
}






 



